/* theme color */
$--color-primary: #0275d8;
$--color-white: #ffffff;
$--color-light-white: rgba(255, 255, 255, 0.85);
$--color-light-blue: #eaf5fa;
$--color-light-black: rgba(0, 0, 0, 0.05);
$--color-green:#10686e;
$--color-orange:#fe5f3f;
$--color-gray:#666666;

/* icon font path, required */
$--font-path: '~element-ui/lib/theme-chalk/fonts';

@import "~element-ui/packages/theme-chalk/src/index";

// 自訂義 icon 
@import "./../static/css/icon.scss";

// 自訂義 scrollbar
@import "./../static/css/scrollbar.scss";



html,
body {
  height: 100vh;
  min-height: -webkit-fill-available;
  overflow: hidden;
  background-color: $--color-light-blue;
}

.drop {
  position: relative;
  display: block;
  width: 100%;
  &:hover {
    .dropOption {
      display: block;
    }
  }
  &:hover {
    .dropdown {
      display: block;
    }
  }
  &:hover {
    .dropdown.close {
      display: none;
    }
  }
  .dropOption {
    position: relative;
    width: auto;
    color: #666;
    font-size: 20px;
    background-color: #fff;
    border-radius: 5px;
    box-sizing: border-box;
    cursor: pointer;
    &::after {
      content: "";
      position: absolute;
      top: 20px;
      right: 12px;
      border: 1px solid #00000066;
      border-width: 0px 1px 1px 0;
      display: inline-block;
      padding: 3px;
      transform: rotate(45deg);
    }
  }
  .dropdown {
    // display: none;
    width: 100%;
    max-height: 350px;
    position: absolute;
    color: #333;
    padding: 0;
    margin: 0;
    background-color: #fff;
    box-shadow: 0px 2px 3px 0px #ccc;
    border-radius: 6px;
    box-sizing: border-box;
    overflow: auto;
    z-index: 10;
    margin-top: 1px;
    > li {
      color: #000;
      cursor: pointer;
      &:first-child {
        margin-top: 10px;
      }
      &:last-child {
        margin-bottom: 10px;
      }
      &:hover {
        background-color: rgb(242, 242, 242);
      }
    }
  }
}

.brr {
  &::before {
    content: "";
    display: block;
    top: 10px;
    height: 30px;
    position: absolute;
    border-right: 1px solid #b3b3b3;
    left: 60px;
  }
}

.hichat-mobile,
.hichat-pc {
  overflow: hidden;
  position: static;
  background-color: $--color-light-blue;


  .home-wrapper {
    min-height: 100vh;
    min-height: webkit-fill-available;
    width: 100%;

    .home-header {
      margin: 1em;
      display: flex;
      align-items: center;

      .home-user,
      .home-add-user {
        width: 2em;
        height: 2em;
        border-radius: 10px;
        background-size: 50%;
        background-position: center;
        background-repeat: no-repeat;
      }

      .home-header-title {
        margin: 0 auto;
        color: $--color-green;
        font-weight: 600;
        font-size: 18px;
      }
    }

    .home-search {
      margin: 1em;

      .el-input {
        .el-input__inner {
          border: 0;
          background-color: $--color-light-black;
          color: $--color-gray;
        }

        .el-input__prefix {
          color: $--color-gray;
        }

        ::placeholder {
          /* CSS 3 標準 */
          color: $--color-gray;
        }
      }
    }

    .home-content {
      overflow-x: hidden;
      flex: 1;
      overflow-y: auto;
      .user-data {
        margin: 1.5em auto 2.5em auto;
        text-align: center;
      }

      .group-data {
        margin: 1.5em auto 0 auto;

        span {
          display: block;
          text-align: center;
          height: 3.5em;
        }

        .photo-edit {
          height: 1.5em !important;
          color: $--color-orange;
        }
      }
    }

    //訊息內容
    .address-box {
      background-color: $--color-white;
      padding: 1em 1em 0.5em 1em;
      display: flex;
      align-items: center;
      
      .content-box {
        padding-left: 1em;
        height: 2em;    
        .msg-box {
          height: 48px;
          display: flex;
          white-space: nowrap;
          overflow: hidden;
          span {
            display: block;
            font-size: 14px;
            &:nth-child(1) {
              margin-bottom: 7px;
            }
          }
          .content-text {
            display: flex;
            font-size: 14px;
            opacity: 0.5;
            height:20px;
            span {
              &:nth-child(1) {
                overflow: hidden;
                text-overflow: ellipsis;
                white-space: nowrap;
                margin-bottom: 0;
                font-size: 13px;
                display: flex;
              }
              &:nth-child(2) {
                opacity: 1;
                font-size: 14px;
              }
            }
          }
          .time{
            .el-badge-box{
              .el-badge{
                .el-badge__content{
                  background-color: #00000066;
                }
              }
            }
          }
        }

      }   
      .group{
        padding-left: 1em;
        height: 48px;
        span {
          font-size: 16px;
          height: 48px;
          display: flex;
          align-items: center;
        }
      }
    }

    .home-footer-nav {
      background-color: $--color-light-white;
      border-top: 1px solid $--color-light-black;
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 0 10px;

      .footer-nav-btn {
        text-align: center;
        font-size: 12px;
        margin: 0 auto;

        a {
          text-decoration: none;
          color: #999999;
        }

        span {
          display: block;
        }

        img {
          margin-bottom: 5px;
          height: 2.2em;
        }

        .router-link-exact-active {
          color: $--color-orange;
        }
      }
    }

    .home-footer-btn {
      margin: 1em 0;
      display: flex;
      justify-content: center;
      align-items: center;
      background-color: $--color-light-blue;

      .el-button {
        width: 93%;
        line-height: 2;
      }

      .gray-btn {
        background-color: #b3b3b3;
        color: $--color-white;
      }

      .red-btn {
        background-color: #ee5253;
        color: $--color-white;
      }

      .orange-btn {
        background-color: $--color-orange;
        color: $--color-white;
      }
    }

    .el-tabs {
      z-index: 8;
      
      .el-tabs__header {
        height: 50px;
        display: flex;
        justify-content: space-evenly;
        background-color: $--color-light-blue;
        margin: 0;
        z-index: 9;
        .el-tabs__nav-wrap {
          &:after {
            content: "";
            display: none;
          }

          .el-tabs__active-bar {
            display: none;
          }

          .el-tabs__item.is-active {
            color: #303133 !important;
          }

          .el-tabs__nav {
            width: 85vw;
            display: flex;
            justify-content: space-around;

            .el-tabs__item {
              font-family: 'NotoSansCJKsc, Regular';
              font-size: 15px;
              font-weight: 600;
              padding: 0 10px;
              color: #858585c0;
            }
          }
        }
      }

      .el-tabs__content {
        position: relative;
        overflow-y: auto;
        -webkit-overflow-scrolling: touch;
        z-index: 5;
      }
    }

    .el-container {
      position: fixed;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      overflow: hidden;

      .el-aside,
      .el-main {
        display: flex;
        flex-direction: column;
        box-shadow: 0 2px 12px 0 rgba(0, 0, 0, 0.1);

        ::v-deep.el-row {
          float: right;

          .el-button {
            background-image: linear-gradient(#579fff, #3481e8);
            color: $--color-white;
          }

          .el-checkbox__inner {
            border-radius: 0;
            border: 1px solid #dcdfe6;

            &::after {
              border: 1px solid #4fba00;
              border-left: 0;
              border-top: 0;
            }
          }

          .el-checkbox__input.is-checked .el-checkbox__inner {
            background-color: $--color-white;
          }

          .el-checkbox__label {
            color: $--color-white;
          }
        }
      }

      .el-aside {
        border-radius: 6px 0px 6px 6px;
      }

      .el-main {
        border-radius: 0px 6px 6px 6px;
      }

      .el-main {
        padding: 0;
      }

      .el-header {
        padding: 0;
        position: relative;
        overflow: hidden;
        border-right: none;

        img {
          position: relative;
          top: 7px;
        }

        .online-img {
          position: relative;
          top: 9px;
        }

        .title,
        .icon-message {
          color: $--color-white;
        }

        .icon-message {
          font-size: 20px;
          vertical-align: middle;
        }

        .title {
          display: inline-block;
          margin-left: 5px;
          font-size: 16px;
          letter-spacing: 1px;
        }
      }

      .contact-box {
        background-color: $--color-white;
        width: 100vw;

        ul {
          display: flex;
          justify-content: space-between;
          align-items: center;
          background-color: $--color-white;
          height: 3em;
          width: 55vw;
          margin: 0 auto;
          font-weight: 550;

          li {
            &:nth-child(1) {
              color: #ee5253;
            }

            &:nth-child(2) {
              color: #363636
            }
          }
        }
      }
    }
  }

  .el-checkbox__input.is-checked {
    .el-checkbox__inner {
      background-color: $--color-orange;
      border-color: $--color-orange;
      border-radius: 10px;
    }
  }

  .el-radio__input.is-checked {
    .el-radio__inner {
      background-color: $--color-orange;
      border-color: $--color-orange;

      &::after {
        content: '';
        width: 8px;
        height: 3px;
        border: 2px solid white;
        border-top: transparent;
        border-right: transparent;
        text-align: center;
        display: block;
        position: absolute;
        top: 2px;
        left: 1px;
        transform: rotate(-45deg);
        border-radius: 0px;
        background: none;
      }
    }
  }

  .el-radio__inner:hover {
    border: 1px solid #DCDFE6;
  }

  .el-dialog__wrapper {
    overflow: hidden;

    .el-dialog {
      .el-dialog__header {
        .el-dialog__title {
          color: $--color-green;
          font-weight: 600;
        }

        .el-dialog__headerbtn {
          position: inherit;
          float: left;

          .el-dialog__close {
            color: #f60;
          }
        }
      }

      .el-dialog__body {
        text-align: center;

        .qrcode-box {
          width: 15em;
          height: 15em;
          border: 2px solid #333;
          margin: 0 auto;
          display: flex;
          align-items: center;
          justify-content: center;

          img {
            height: 14em;
          }
        }

        .qrcode-box-text {
          color: #0c0d0d;
          font-weight: 600;
          margin-top: 2em;
          display: block;
        }
        .promote-href-text{
          color: $--color-green;
          font-weight: 600;
          position: relative;
          top: -15px;
          display: block;
        }
        .promote-box-text{
          color: #0c0d0d;
          font-weight: 600;
          margin-bottom: 1em;
          display: block;
        }
        .upload-demo {
          line-height: 1.5em;
          .el-upload-list {
            max-height: 400px;
            overflow: auto;
            .el-upload-list__item {
              margin-top: 0;
              width: 300px;
              display: inline-block;
              margin: 10px 5px 0 5px;
              .el-upload-list__item-name{
                font-size: 18px;
              }
            }
          }
          .hidden {
            visibility: hidden;
          }
        }
        .record-play {
          .record-play-box {
            margin-top: 1em;
            width: 100%;
          }
          .record-time {
            width: 100%;
            text-align: center;
            font-size: 2em;
            font-family: monospace;
          }
        }
      }

      .el-dialog__footer {
        padding: 20px 30px 20px 30px;

        .dialog-footer {
          display: flex;
          justify-content: space-between;

          .el-button {
            width: 90%;
          }

          img {
            height: 1em;
          }
        }
      }
    }
  }

  .el-image {
    width: 3em;
    height: 3em;
    border-radius: 10px;

    .el-image__inner {
      height: -webkit-fill-available;
      border-radius: 10px;
    }

    .el-image__error {
      height: 3em;
      font-size: 10px;
    }
  }

  .el-button {
    border-radius: 10px;
  }

  .el-dialog-loginOut {
    overflow: auto;

    ::v-deep.el-dialog {
      position: relative;
      margin: 0 auto 50px;
      background: $--color-white;
      border-radius: 10px;
      box-sizing: border-box;
      width: 50%;

      .el-dialog__header {
        padding: 10px;
      }

      .el-dialog__body {
        text-align: center;
        padding: 25px 25px 15px;

        .loginOut-box {
          img {
            height: 5em;
            margin-bottom: 1.2em;
          }
        }
        
      }

      .el-dialog__footer {
        padding: 20px;
        padding-top: 10px;
        text-align: right;
        box-sizing: border-box;

        .dialog-footer {
          display: flex;
          justify-content: space-between;

          .el-button {
            width: 100%;
            border-radius: 8px;
          }

          .background-red {
            background-color: #ee5253;
            color: $--color-white;
          }

          .background-orange {
            background-color: $--color-orange;
            color: $--color-white;
          }

          .border-red {
            border: 1px solid $--color-orange;
            color: $--color-orange;
          }
        }
      }
    }
  }
}

.message-input-box {
  background-color: $--color-light-white;
  border-top: 1px solid $--color-light-black;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 15px;
  .input-tools-left,
  .input-tools-right {
    img {
      height: 1.1em;
      cursor: pointer;
    }
    .plus-btn {
      margin-right: 10px;
      margin-left: 10px;
    }
  }
  .text-send-box {
    width: 230px;
    min-height: 35px;
    margin: 10px 0px;
    display: flex;
    align-items: center;
    background-color: #f4f4f4;
    border-radius: 5px;
    .disable-box {
      width: 250px;
      height: 35px;
      display: flex;
      align-items: center;
      background-color: #f4f4f4;
      color: #959393;
      font-size: 14px;
      border-radius: 20px;
      position: absolute;
      justify-content: center;
      z-index: 1;
    }
    .el-textarea {
      .el-textarea__inner {
        padding: 10px !important;
        border-radius: 0;
        border: 0;
        background-color: transparent;
      }
    }
    .footer-tools {
      .send-button {
        width: 90px;
        padding: 7px 10px;
        margin-right: 20px;
        color: $--color-white;
        background-image: linear-gradient(
          180deg,
          rgba(67, 141, 255, 0.8),
          rgba(19, 99, 255, 0.8)
        );
      }
      .face-icon {
        .face-icon-box {
          padding: 20px;
          .face-box {
            font-size: 1em;
            word-break: break-word;
            margin-bottom: 20px;
            h5 {
              font-weight: 600;
            }
          }
          span {
            cursor: pointer;
            font-size: 1em;
            margin-right: 10px;
          }
        }
      }
    }
  }
}

.hichat-mobile {
  .wrapper {
    .el-container {
      position: fixed;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      overflow: hidden;
    }
  }
  .home-wrapper {
    .home-footer-nav {
      height: 70px !important;
    }
  }
  .message-input-box {
    .text-send-box {
      .footer-tools {
        .face-icon {
          left: 0;
          background-color: $--color-white;
          box-shadow: 0px 0 7px #ccc;
        }
      }
    }
  }
}

.hichat-pc {
  overflow: auto !important;
  .home-wrapper {
    .home-header {
      margin: 1.3em 1em;
      justify-content: space-between;

      .home-user-pc {
        width: 2em;
        height: 2em;
        border-radius: 10px;
        background-size: 75%;
        background-position: center;
        background-repeat: no-repeat;
      }

      .home-header-title {
        margin: 0;
        color: #000000b0;
      }

      .home-add-user {
        background-size: 70%;
        cursor: pointer;
      }

      .el-dropdown {
        cursor: pointer;
      }
    }

    .flex-start {
      justify-content: flex-start;

      .home-header-title {
        margin-left: 5px;
      }
    }

    .home-search {
      display: flex;
      align-items: center;
      justify-content: center;

      .el-input {
        width: 80%;
      }

      img {
        height: 1.5em;
        position: relative;
        top: 0 !important;
        left: 1.5em;
      }
    }

    .el-container {
      position: relative;
      height: 100vh;

      .el-header {
        border-bottom: 1px solid $--color-light-black;

        img {
          top: 0 !important;
          height: 1.34em;
        }
      }

      .el-aside {
        border-radius: 0;
        box-shadow: none;
        background-color: $--color-white;
        border-right: 1px solid $--color-light-black;
      }

      .el-main {
        min-width: 300px;
        box-shadow: none;
        border-radius: 0px !important;
      }
    }

    .el-tabs {
      width: 100%;
      .el-tabs__header {
        height: 55px;
        background-color: $--color-white !important;
        .el-tabs__nav-wrap {
          display: flex;
          align-items: center;
          .el-tabs__nav {
            width: 100%;

            .el-tabs__item {
              font-family: 'NotoSansCJKsc, Regular';
              font-size: 14px;
              font-weight: 600;
              color: #b3b3b3;
            }

            .el-tabs__item.is-active {
              color: #303133;
            }
          }
        }
      }

      .el-tabs__content {
        border-top: 0.01em solid $--color-light-black;
        overflow-y: auto;
      }
    }

    .home-content {
      .setting-button {
        img {
          height: 1.5em;
        }
      }

      .setting-button-left {
        span {
          font-size: 14px;
        }
      }

      .user-data {
        margin: 1.5em auto 2em auto;

        .el-image {
          width: 6em !important;
          height: 6em !important;
        }

        .user-data-id {
          margin: 1em 0 !important;
        }

        span {
          height: auto !important;
          margin: 1em 0 !important;
        }
      }
    }

    .wrapper {
      .el-container {
        position: relative;
        height: 100vh;
        width: 100%;
      }

      .el-dialog-loginOut {
        .el-dialog__footer {
          padding: 0 !important;

          .el-button {
            padding: 20px !important;
            border-radius: 0 !important;

            &:nth-child(2) {
              border-left: 1px solid #efefef;
            }
          }
        }
      }
    }

    .message-input-box {
      padding: 0 15px;

      .text-send-box {
        width: 90%;
        .disable-box{
          width: 90%;
        }
        .footer-tools {
          .emoji-picker{
            #Emojis{
              .container-emoji{
                .grid-emojis{
                  .emoji{
                    font-size: 25px !important;
                  }
                }
              }
            }
          }
          .face-icon {
            bottom: 60px ;
            right: 194px;
            width: 29em;
          }
        }
      }

      .input-tools-left {
        img {
          cursor: pointer;

          &:nth-child(1) {
            margin-right: 2em;
          }
        }
      }
    }

    .home-footer-btn {
      margin: 0;
      background-color: $--color-white;

      .el-button {
        width: 100%;
        border: 0;
        border-radius: 0;
        line-height: 3;
        padding: 8px 20px;
      }
    }
  }

  .address-box {
    .content-box {
      .msg-box {
        span {
          &:nth-child(1) {
            img{
              height: 1em;
            }
          }
        }
      }
    }
    
  }

  .home-footer-nav {
    .footer-nav-btn {
      img {
        height: 2.5em !important;
        margin-bottom: 0 !important;
      }
    }
  }

  //彈出視窗樣式
  .el-dialog__wrapper {
    .el-dialog {
      width: 400px !important;
      margin-top: 8em !important;
      position: relative;
      border-radius: 5px;

      .el-dialog__header {
        border-bottom: 1px solid #efefef;

        .el-dialog__title {
          color: #000000d5;
          font-weight: 600;
        }

        .el-dialog__headerbtn {
          position: inherit;
          float: left;

          .el-dialog__close {
            color: #f60;
          }
        }
      }

      .el-dialog__body {
        text-align: center;
        padding: 45px 25px !important;
        border-bottom: 1px solid #efefef;

        .qrcode-box {
          width: 15em;
          height: 15em;
          border: 2px solid #333;
          margin: 0 auto;
          display: flex;
          align-items: center;
          justify-content: center;

          img {
            height: 14em;
          }
        }

        .qrcode-box-text {
          color: #0c0d0d;
          font-weight: 600;
          margin-top: 2em;
          display: block;
        }
      }

      .el-dialog__footer {
        padding: 20px 30px 20px 30px;

        .dialog-footer {
          display: flex;
          justify-content: space-between;

          .el-button {
            width: 100% !important;
            border: 0;
            padding: 20px 0 !important;

            &:nth-child(1) {
              border-radius: 0px 0px 0px 8px !important;
            }

            &:nth-child(2) {
              border-radius: 0px 0px 8px 0px !important;
              margin-left: 0 !important;
              border-left: 1px solid #efefef;
            }

          }

          .background-red {
            background-color: inherit !important;
            color: #ee5253 !important;
          }

          .background-gray {
            background-color: inherit !important;
            color: #b3b3b3 !important;
          }

          .background-orange {
            background-color: inherit !important;
            color: $--color-orange !important;
          }

          .border-red {
            border: 1px solid $--color-orange !important;
            ;
            color: $--color-orange !important;
            ;
          }

          img {
            height: 1em;
          }
        }

        .el-button {
          font-weight: 600;
          padding: 5px 20px;
        }
      }
    }
  }

  .el-button {
    font-weight: 600;
  }

  .PC-header {
    .el-dropdown {
      position: absolute;
      right: 30px;

      .el-dropdown-selfdefine:focus:not(.focusing) {
        background-color: #ececeb;
        border-radius: 10px;
      }
    }
  }
}

.footer-tools {
  .face-other-btn {
    cursor: pointer;
    width: 35px;
    height: 35px;
    display: flex;
    align-items: center;
    img {
      height: 1.2em;
    }
  }
  .face-icon {
    position: absolute;
    bottom: 57px;
    width: 100%;
    border-radius: 15px 15px 0 0;
    height: 22em;
    overflow: hidden;
    line-height: 2em;
    z-index: 9;
    .emoji-picker{
      width: inherit;
      #Emojis{
        max-width: 90%;
        .container-emoji{
          .grid-emojis{
            .emoji{
              font-size: 21px !important;
            }
          }
        }
      }
    }
  }
}

.chat-more {
  .el-dropdown-menu__item {
    .logout-btn {
      display: flex;
      align-items: center;
      font-weight: 600;

      img {
        height: 1.4em;
        padding-right: 5px;
        margin-top: -3px;
      }
    }
  }
}
.custom-class{
  z-index: 10 !important;
  .menu_item {
    font-size: 15px !important;
  }
  .menu_item__divided {
    border-bottom: none !important;
    color: #ff4050 !important;
  }
}

::v-deep.el-dialog-msg-show{
  .el-dialog{
    position: fixed;
  }
}

.el-message-box__wrapper{
  .leave-group-style{
    width: 12em;
  }
}

.el-badge__content.is-fixed.is-dot{
  top: auto;
  bottom: 0px;
  right: 8px;
}

.green-text{
  color: #219653;
}

.gray-text{
  opacity: 0.5;
  color: #000000;
}

.content-border-bottom {
  width: 100%;
  border-bottom: 0.02em solid $--color-light-black;
  position: absolute;
}

.noOnline-tip{
  display: flex;
  align-items: center;
}  

.reply-message {
  height: 50px;
  background-color: rgba(225, 225, 225, 0.85);
  border-top: 1px solid $--color-light-black;
  display: flex;
  color: rgba(0, 0, 0, 0.4);
  align-items: center;
  padding: 10px;
  z-index: 9;
  .reply-message-box {
    display: flex;
    flex-direction: column;
    padding-left: 10px;
    span {
      line-height: 20px;
      color: #363636;
      word-wrap: break-word;
    }
    .replyMsg-Img {
      img {
        height: 2em;
        border-radius: 5px;
      }
    }
    .replyMsg-file{
      display: flex;
      flex-direction: column;
      font-size: 13px;
    }
  }
  .reply-close-btn {
    position: absolute;
    right: 20px;
    font-size: 20px;
    cursor: pointer;
  }
  ::v-deep.el-avatar {
    overflow: initial;
    img {
      border-radius: 4px;
      width: -webkit-fill-available;
    }
  }
 
  &__style{
    height: 3em; 
    width: 3em; 
    border-radius: 5px
  }
}

.service-icon{
  background: url('./../static/images/service.png');
  background-repeat: no-repeat;
  background-size: 40%;
  background-position: top left;
  z-index:2;
  width: 3em;
  height: 3em;
  position: absolute;
}
.home-user-photo{
  .service-icon{
    width: 2em;
    height: 2em;
  }
}